{{/* Current Section Pages */}}
{{ $current := where .Site.RegularPages "Section" .Section }}

{{/* Other Sections Pages */}}
{{ $others := where .Site.RegularPages "Section" "ne" .Section }}

{{/* Shuffle */}}
{{ $currentShuffled := shuffle $current }}
{{ $othersShuffled := shuffle $others }}

{{/* Final 6 items */}}
{{ $final := slice }}

{{ range first 4 $currentShuffled }}
  {{ $final = $final | append . }}
{{ end }}

{{ range first 2 $othersShuffled }}
  {{ $final = $final | append . }}
{{ end }}
<div class="category">
  <div class="related-heading">
  <span>🔥 Related Posters</span>
</div>

  <div class="gallery">
    {{ range $final }}
      <a href="{{ .RelPermalink }}" class="gallery-item">

        {{ with .Params.imagePoster }}
          <img src="{{ . }}" alt="{{ $.Title }}">
        {{ else }}
          <img src="/default.jpg" alt="default">
        {{ end }}

        {{ if .Params.new }}
          <span class="badge-new">NEW</span>
        {{ end }}

        {{ if .Params.update }}
          <span class="badge-update">UPDATE</span>
        {{ end }}

     

      </a>
    {{ end }}
  </div>

</div>
