

{{ partial "cssStyles/posters.html" . }}


<script> const images = [
  {{- range .Params.imagePosters }}
  { title:"{{ .title }}", url:"{{ .url | relURL }}" },
  {{- end }}
];</script>

<h2 style="text-align:center;">{{ .Title }}</h2>

<div class="imgcontainer">

  <div class="image-list" id="imageList"></div>

  <div class="preview">

    <div class="nav-btn left" onclick="prevImage()">❮</div>

    <img id="previewImg">

    <div class="nav-btn right" onclick="nextImage()">❯</div>

    <div class="actions">
        
      <button onclick="downloadImg(this)">⬇️ Download</button>
      <button onclick="shareImg(this)">🔗 Share</button>
      <button onclick="printCurrent()">🖨️ Current Print</button>
      <button onclick="printAll()">🖨️ All Print</button>
        <a href="{{ with .Params.link }}{{ . }}{{ else }}https://yojnaportal.com/search?q={{ .Title | urlize }}{{ end }}" target="_blank">
  <button id="viewBtn">🔗 More Details</button>
</a>
    </div>

  </div>

</div>

<!-- MODAL -->
<div id="modal" class="modal">

  <span class="close" onclick="closeModal()">×</span>

  <div class="nav-btn left" onclick="prevImage()">❮</div>

  <img id="modalImg">

  <div class="nav-btn right" onclick="nextImage()">❯</div>

  <div class="actions">
     <a href="{{ with .Params.link }}{{ . }}{{ else }}https://yojnaportal.com/search?q={{ .Title | urlize }}{{ end }}" target="_blank">
  <button id="viewBtn">🔗 Link</button>
</a>
    <button onclick="downloadImg(this)">⬇️ Download</button>
    <button onclick="shareImg(this)">🔗 Share</button>
    <button onclick="printCurrent()">🖨️ Current</button>
    <button onclick="printAll()">🖨️ All</button>
  </div>

</div>

{{ partial "jsFiles/posters.html" . }}