{{ partial "cssStyles/poster.html" . }}

<div class="imgcontainer">
<h2 id="title">{{ .Title }}</h2>

<div class="preview">
  <img id="previewImg" src="{{ .Params.imagePoster | relURL }}" onclick="openModal()">
</div>
<div class="top-actions">
 <a href="{{ with .Params.link }}{{ . }}{{ else }}https://yojnaportal.com/search?q={{ .Title | urlize }}{{ end }}" target="_blank">
  <button id="viewBtn">🔗 Link</button>
</a>

<button onclick="downloadImg(this)">⬇️ Download</button>
<button onclick="shareImg(this)">🔗 Share</button>
<button onclick="printImg(this)">🖨️ Print</button>
</div>
<div id="modal" class="modal">
  <span class="close" onclick="closeModal()">×</span>
  <img class="modal-content" id="modalImg">

  <div class="actions">
    <a href="{{ with .Params.link }}{{ . }}{{ else }}https://yojnaportal.com/search?q={{ .Title | urlize }}{{ end }}" target="_blank">
  <button id="viewBtn">🔗 Link</button>
</a>
  <button onclick="downloadImg(this)">⬇️ Download</button>
<button onclick="shareImg(this)">🔗 Share</button>
<button onclick="printImg(this)">🖨️ Print</button>
  </div>
</div>

</div>
{{ partial "jsFiles/poster.html" . }}