{{ $types := slice "Documents" "Cybercafe" "Schemes" "Admission" "Jobs" "Exams" "Banking" "Printing" "Multi" "forms"}}

{{ $titles := dict 
  "Banking" "🏦 Banking Related Posters"
  "Schemes" "📄 Schemes Related Banner"
  "forms" "📄 Entry & Forms"
  "Cybercafe" "📑 Cybercafe & CSC"
  "Documents" "🪪 Documents & Certificates"
  "Admission" "Admission & Education"
  "Printing" "🖨️ Printing & Design"
  "Multi" "🤷 Multi Services Posters"
  "Exams" "🎓 Exams Related Posters"
  "Jobs" "🧑‍💻 Jobs & Recruitment Update"
}}

<!-- सभी पोस्ट को latest अनुसार sort -->
{{ $allLatestPosts := sort .Site.RegularPages ".Lastmod" "desc" }}

<!-- सिर्फ latest 20 -->
{{ $latest20 := first 20 $allLatestPosts }}

<!-- Latest Section -->
<div class="category">

  <h2>🔥 Latest Posters</h2>

  <div class="gallery">

    {{ range $latest20 }}

      <a href="{{ .RelPermalink }}" class="gallery-item">

        <img src="{{ .Params.imagePoster }}"
             alt="{{ .Params.PosterName }}"
             loading="lazy">

        <!-- NEW Badge -->
        {{ if and 
            (eq .Date.Year now.Year) 
            (eq .Date.Month now.Month) 
            (eq .Date.Day now.Day) 
        }}
          <span class="badge-new">NEW</span>
        {{ end }}

        <div class="icon">{{ .Params.icon }}</div>
        <div class="image-title">{{ .Title }}</div>

      </a>

    {{ end }}

  </div>

</div>


<!-- बाकी category wise -->
{{ range $types }}

  {{ $pages := where $.Site.RegularPages "Params.banertype" . }}
  {{ $sorted := sort $pages ".Lastmod" "desc" }}

  {{ if gt (len $sorted) 0 }}

    {{ $posts := first 20 $sorted }}

    <div class="category">

      <h2>
        {{ with index $titles . }}
          {{ . }}
        {{ else }}
          {{ . }} Posters
        {{ end }}
      </h2>

      <div class="gallery">

        {{ range $posts }}

          <a href="{{ .RelPermalink }}" class="gallery-item">

            <img src="{{ .Params.imagePoster }}"
                 alt="{{ .Params.PosterName }}"
                 loading="lazy">

            <!-- NEW Badge -->
            {{ if and 
                (eq .Date.Year now.Year) 
                (eq .Date.Month now.Month) 
                (eq .Date.Day now.Day) 
            }}
              <span class="badge-new">NEW</span>
            {{ end }}

            <div class="icon">{{ .Params.icon }}</div>
            <div class="image-title">{{ .Title }}</div>

          </a>

        {{ end }}

      </div>

      {{ if gt (len $sorted) 20 }}
        <div class="view-more-wrap">
          <a href="/banertype/{{ lower . }}/" class="view-more-btn">
            View More →
          </a>
        </div>
      {{ end }}

    </div>

  {{ end }}

{{ end }}