
{{ define "main" }}
<div class="search-container">

  <!-- 🔍 Search Box -->
  <form id="searchForm" class="search-box">
    
    <input 
      type="text" 
      id="searchInput" 
      placeholder="Search services, jobs, certificates..."
      autocomplete="off"
    >
   <!-- Search Button -->
    <button type="submit" class="search-btn">🔍</button>
    <!-- Clear -->
    <span id="clearBtn">✖</span>

 

  </form>
<!-- 📊 Results -->
<div id="results"></div>
  <!-- 🕘 Recent Searches -->
  <div id="recentSearches" class="recent-box"></div>

</div>


<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
{{ end}}
