
{{ define "main" }}
<div class="search-container">

  <!-- 🔍 Search Box -->
  <form method="post" id="searchForm" class="search-box" action=""  name="search-form">
    <input type="hidden" name="TimeStamp" class="Advance" id="timestamp-field">
    <input type="hidden" name="use-in" class="advnce" value="poster.yojnaportal.com">
    <input 
      type="text" 
      name="Search" 
      id="searchInput" 
      placeholder="Search services, poster etc..."
      autocomplete="off"
    >
       <span id="clearBtn">✖</span>
   <!-- Search Button -->
    <button type="submit" class="search-btn">🔍Search</button>
  </form>
<!-- 📊 Results -->
<div id="results"></div>
  <!-- 🕘 Recent Searches -->
  <div id="recentSearches" class="recent-box"></div>

</div>
<script src="https://cdn.jsdelivr.net/npm/fuse.js@6.6.2"></script>
 
{{ end}}
