/* Light Theme */
:root{
    --bg:#f5f7fb;
    --card-bg:#ffffff;
    --text:#222;
    --text-light:#666;
    --border:#e5e7eb;

    --hover:#f3f4f6;
    --footer-bg:#f8fafc;

    --shadow:0 2px 12px rgba(0,0,0,.08);
    --menu-shadow:0 5px 20px rgba(0,0,0,.15);

    --save-bg:#fff7ed;
    --save-text:#f59e0b;

    --copy-bg:#eff6ff;
    --wa-bg:#dcfce7;
    --share-bg:#fef3c7;
    --link-bg:#e0f2fe;

    --green:#16a34a;
    --blue:#2563eb;
}

/* Dark Theme */
body.dark{
    --bg:#0f172a;
    --card-bg:#1f2c33;
    --text:#f8fafc;
    --text-light:#94a3b8;
    --border:#334155;

    --hover:#334155;
    --footer-bg:#273449;

    --shadow:0 2px 15px rgba(0,0,0,.4);
    --menu-shadow:0 5px 20px rgba(0,0,0,.5);

    --save-bg:#3b2f12;
    --save-text:#fbbf24;

    --copy-bg:#1e3a5f;
    --wa-bg:#14532d;
    --share-bg:#4a3b12;
    --link-bg:#0c4a6e;

    --green:#22c55e;
    --blue:#60a5fa;
}

  body {
  margin: 0;
  height: 200vh;

  background:
    radial-gradient(var(--share-bg) 1px, transparent 1px) 0 0/10px 10px,
    radial-gradient(var(--hover) 1px, transparent 1px) 10px 10px/40px 40px;

  background-attachment: fixed;
  background-color: var(--bg);
}  
    header .menu-wrapper{
    position:relative;
}

header .social-menu{
    position:absolute;
    top:50px;
    right:0;

    width:220px;
    background:var(--card-bg);

    border-radius:12px;
    overflow:hidden;

    box-shadow:0 10px 30px rgba(0,0,0,.25);

    display:none;
    z-index:9999;
}

header .social-menu.show{
    display:block;
}

header .social-menu a{
    display:flex;
    align-items:center;
    gap:12px;

    padding:14px 16px;

    color:var(--text);
    text-decoration:none;

    border-bottom:1px solid var(--border);

    transition:.2s;
}

header.social-menu a:last-child{
    border-bottom:none;
}

header .social-menu a:hover{
    background:var(--hover);
}

header .social-menu i{
    width:20px;
    text-align:center;
    font-size:18px;
}

header{
    position:fixed;
    top:0;
    left:0;
    width:100%;
    z-index:9999;
}
header .channel-header{
   background:linear-gradient(180deg,var(--bg),var(--card-bg));
    color:var(--text);

    display:flex;
    align-items:center;
    justify-content:space-between;

    padding:14px 20px;
    border-bottom:1px solid var(--border);

    font-family:Arial,sans-serif;
}

header .channel-left{
    display:flex;
    align-items:center;
    gap:14px;
}

header .channel-left img{
    width:54px;
    height:54px;
    border-radius:50%;
    object-fit:cover;
    background:var(--bg);
}

header .channel-name{
    font-size:18px;
    font-weight:700;
    line-height:1.2;
}

header .channel-followers{
    color:var(--text-light);
    font-size:14px;
    margin-top:4px;
}

header .channel-right{
    display:flex;
    align-items:center;
    gap:2px;
}

header .icon-btn{
    width:40px;
    height:40px;

    border:none;
    background:transparent;
    color:var(--text);

    font-size:22px;
    cursor:pointer;

    display:flex;
    align-items:center;
    justify-content:center;

    border-radius:50%;
}

header .icon-btn:hover{
    background:var(--text-light);
}

header .follow-btn-top{
    display:inline-flex;
    align-items:center;
    gap:8px;

    padding:8px 20px;

    background:var(--text);
    color:var(--bg);

    font-weight:700;
    font-size:14px;

    text-decoration:none;

    border-radius:50px;

    transition:.3s;
}

header .follow-btn-top::before{
    content:"+";
    font-size:18px;
    font-weight:700;
}

header .follow-btn-top:hover{
    background:#25D366;
    color:#fff;
}

header .saved-page-btn{
    display:inline-flex;
    align-items:center;
    gap:8px;
    padding:10px 16px;
    border-radius:999px;
    background:#fef3c7;
    color:#92400e;
    font-weight:600;
    text-decoration:none;
}

.theme-switch{
    position:relative;
    display:inline-block;
    width:60px;
    height:32px;
        margin: auto 30%;
}

.theme-switch input{
    display:none;
}

.slider{
    position:absolute;
    inset:0;
    cursor:pointer;
    background:#ccc;
    border-radius:50px;
    transition:.3s;
}

.slider:before{
    content:"☀️";
    position:absolute;
    width:26px;
    height:26px;
    left:3px;
    top:3px;
    background:#fff;
    border-radius:50%;
    display:flex;
    align-items:center;
    justify-content:center;
    font-size:14px;
    transition:.3s;
}

input:checked + .slider{
    background:#333;
}

input:checked + .slider:before{
    transform:translateX(28px);
    content:"🌙";
}